* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
}

:root {
    --btn-color: #62C1E5;
    --bg-color: #EBEDF2;
}

nav {
    display: flex;
    padding: 0.6rem 2rem;
    border-bottom: 1.8px solid rgba(211, 211, 211, 0.797);
}

.left {
    display: flex;
    align-items: center;
}

nav img {
    width: 1rem;
    height: auto;
    margin: 0.5rem 0.6rem 0.5rem 0.5rem;
}

.logo-text {
    font-size: 1.2rem;
    font-weight: 700;
}

.notes-content {
    padding: 1.8rem 10rem;
}

.heading {
    margin: 1rem 0rem;
}

#create-task {
    margin: 1rem 0.9rem 1rem 0rem;
    padding: 1rem;
    width: 60%;
    height: 37px;
    width: 60%;
    height: 37px;
    background: #EBEDF2;
    border: none;
    border-radius: 0.5rem;
}

.new-btn {
    width: 7.5rem;
    height: 37px;
    font-weight: 700;
    border: none;
    border-radius: 0.5rem;
    color: white;
    background: rgb(14, 222, 14);
}

.task-container {
    display: flex;
    flex-direction: column;
}

#task-heading {
    margin: 1.3rem 0rem;
    font-size: 1.3rem;
}

#listofTask {
    margin: 0rem 2rem 1rem 0rem;
}

.addStrike {
    text-decoration: line-through;
}