* {
    margin: 0;
    padding: 0
}

nav {
    background-color: antiquewhite;
}

li a {
    list-style-type: none;
    text-decoration: none;
    padding: 1rem;
    color: cadetblue;
    font-weight: 600;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}