.container {
    background: orange;
    padding: 1%;
    border-radius: 6px;
    width: 80%;
}
.box {
    border: 1px solid #ccc;
    padding: 1%;
    margin: 1%;
    width: 40%;
    background: lightpink;
    border-radius: 6px;
}
